*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Navbar{
    max-width: 1600px;
    max-height: 92px;
    padding: 16px 120px;
    background: rgba(255, 255, 255, 1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
.nav-list ul{
    display: flex;
    gap: 34px;
    text-decoration: none;
}
.nav-list ul li{
    list-style-type: none;
}
.nav-list ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    border: none;
}
button{
    font-size: 16px;
    font-weight: 600;
    max-width: 164px;
    max-height: 44px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #f5f5f5;
    background: rgb(70, 145, 101);
}
#hero{
    max-width: 1600px;
    max-height: 674px;
    padding: 70 120 134px;
}
