
.inter{
  font-family: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Navbar{
    max-width: 1600px;
    max-height: 92px;
    padding: 16px 120px;
    background: rgba(255, 255, 255, 1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
.nav-list ul{
    display: flex;
    gap: 34px;
    text-decoration: none;
}
.nav-list ul li{
    list-style-type: none;
}
.nav-list ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    border: none;
}
button{
    font-size: 16px;
    font-weight: 600;
    max-width: 164px;
    max-height: 44px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #f5f5f5;
    background: rgb(70, 145, 101);
}
#hero{
    max-width: 1600px;
    max-height: 674px;
    padding: 70 auto 134px;
    object-fit: cover;
}
#hero .hero-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.content{
    position: absolute;
    z-index: 2;
}
.notif-{
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    padding: 8px 12px;
    background: #f5f5f5;
    border-radius: 100px;
}
.text h1{
    font-size: 72px;
    font-weight: 700;
    color: #f5f5f5;
    margin: 16px 0;
}
.text h1 span{
   color:rgba(48, 184, 104, 1);
}
.text p{
    font-size: 18px;
    line-height: 24px;
    color: #f5f5f5;
}
.hero-btn{
    display: flex;
    gap: 20px;
    margin-top: 32px;
    align-items: center;
}
.hero-btn .btn{
    max-width: 251px;
    background: var(--#30B868, rgba(70, 145, 101, 1));
    border-radius: 4px;
    color: #f5f5f5;
    padding: 12 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-btn .btn1{
    background: transparent;
    max-width: 251px;
    padding: 12 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #f5f5f5;
}
