
.inter{
  font-family: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(255, 255, 255, 1);;
}
#Navbar{
    max-width: 1600px;
    max-height: 92px;
    padding: 16px 120px;
    background: rgba(255, 255, 255, 1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
.nav-list ul{
    display: flex;
    gap: 34px;
    text-decoration: none;
}
.nav-list ul li{
    list-style-type: none;
}
.nav-list ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    border: none;
}
button{
    font-size: 16px;
    font-weight: 600;
    max-width: 164px;
    max-height: 44px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #f5f5f5;
    background: rgb(70, 145, 101);
}
#hero{
    max-width: 1600px;
    max-height: 674px;

}
#hero .hero-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-img img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.content{
    position: absolute;
    z-index: 2;
}
.notif-{
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    padding: 8px 12px;
    background: rgba(255, 255, 255, 1);
    border-radius: 100px;
}
.text h1{
    font-size: 72px;
    font-weight: 700;
    color: #f5f5f5;
    margin: 16px 0;
}
.text h1 span{
   color:rgba(48, 184, 104, 1);
}
.text p{
    font-size: 18px;
    line-height: 24px;
    color: #f5f5f5;
}
.hero-btn{
    display: flex;
    gap: 20px;
    margin-top: 32px;
    align-items: center;
}
.hero-btn .btn{
    max-width: 251px;
    background: var(--#30B868, rgba(70, 145, 101, 1));
    border-radius: 4px;
    color: #f5f5f5;
    padding: 12 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-btn .btn1{
    background: transparent;
    max-width: 251px;
    padding: 12 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #f5f5f5;
}
.note-section{
    margin: 36px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.note-section h2{
    font-size: 48px;
    font-weight: 700;
}
.note-section p{
    margin-top: 16px;
    font-size: 16px;
}
.card-container{
    width: 1360px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-container .card{
    width: 322px;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    
}
.card-container .card .icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(249, 85, 85, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h5{
    margin: 20px;
    font-size: 24px;
    font-weight: 600;
}
.card p{
    margin: 0 auto;
    font-size: 16px;
}
#brain{
    max-width: 1600px;
    max-height: 840px;
    padding: 120px;
    margin: 0 auto;
}
.brain-container{
    max-width: 1360px;
    max-height: 600px;
    margin: 0 auto;
    align-items: center;
    object-fit: cover;
    display: flex;
    gap: 60px;
}
.brain-img{
    max-width: 600px;
    max-height: 600px;
}
.brain-txt .txt{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}
.brain-txt h2{
    font-size: 48px;
    font-weight: 700;
    color:#001931;
    margin: 16px 0;
}
.brain-txt .descri-{
    font-size: 16px;
    font-weight: 400;line-height: 20px;
    color: #627382;
    margin-bottom: 50px;
}
.check-icon{
    display: flex;
    margin: 16px 0;
    gap: 5px;
}
.check-icon .check-txt{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 25, 49, 1);
}
.access-container{
    width: 1360px;
    height: 384px;
    margin: 0 auto;
    padding: 80px 40px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
}
.access-content{
    text-align: center;
}
.access-content h2{
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
}
.access-content p{
    font-size: 16px;
    color: rgba(98, 115, 130, 1);
    margin: 20px 0;
}
.access-btn{
    margin: 0 auto;
    width: 192px;
    height: 52px;
    display: flex;
    background: rgba(70, 145, 101, 1);
    border-radius: 4px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
}